$cyan: hsl(179, 62%, 43%);
$lCyan: hsl(179, 62%, 46%);
$yellow: hsl(71, 73%, 54%);
$lGray: hsl(204, 43%, 73%);
$blue: hsl(218, 22%, 67%);
$lBlue: rgba(230, 239, 246, 1);
$white: hsl(0, 0%, 100%);
$dWhite: hsl(0, 0%, 90%);
$paddingX: 1.5rem;
$paddingY: 1.875rem;